@import '../../styles/reset.css';

:host {
  @apply relative flex items-center justify-center;
  @apply aspect-video h-56 overflow-hidden rounded-lg;
  @apply bg-video-bg select-none;

  transition-property: var(--dyte-transition-property, all);
  transition-duration: 150ms;
}

@media (prefers-reduced-motion) {
  /* No transitions when disabled */
  :host {
    --dyte-transition-property: none;
  }
}

:host([size='sm'][variant='solid']) {
  ::slotted(dyte-name-tag) {
    @apply left-2 bottom-2 h-4;
  }
}

video {
  @apply hidden;
  @apply absolute h-full w-full rounded-lg;
}

video.contain {
  @apply object-contain;
}

video.cover {
  @apply object-cover;
}

video.visible {
  @apply block;
}

video::-webkit-media-controls {
  display: none !important;
}

:host([variant='gradient']) {
  ::slotted(dyte-audio-visualizer) {
    @apply absolute top-2 right-2;
    @apply bg-brand rounded-full p-2;
  }
  ::slotted(dyte-name-tag) {
    @apply bottom-0 left-0 flex w-full items-center justify-center text-center;
    @apply bg-transparent;
    @apply from-background-1000 bg-gradient-to-t to-transparent;
  }
}

video.mirror {
  transform: scaleX(-1);
}

/* Mobile breakpoint */

/* Use mobile styling for portrait views */

@media (orientation: portrait) {
  :host {
    @apply h-44;
  }
}
