@import '../../styles/reset.css';

:host {
  @apply box-border inline-flex h-6 w-10 items-center p-1;
  @apply bg-text-600 rounded-full;
  @apply cursor-pointer;
}

.switch {
  @apply box-border h-4 w-4;
  @apply bg-text-on-brand-1000;
  @apply rounded-full;

  transition-property: var(--dyte-transition-property, all);
  transition-duration: 200ms;
}

:host(.checked) {
  @apply bg-brand;
}

:host(.checked) .switch {
  transform: translateX(100%);
}

:host([readonly]),
:host([disabled]) {
  @apply cursor-not-allowed opacity-60;
}
