@import '../../styles/reset.css';

:host {
  @apply relative block;
}

.unread-count {
  @apply absolute right-3 box-border p-0.5;
  @apply select-none;

  @apply text-text-sm bg-brand-500 text-text-on-brand;
  @apply min-w-5 flex h-5 items-center justify-center;
  @apply rounded-full;
  z-index: 1;
}

.unread-count-dot {
  @apply absolute right-3 z-10;
  @apply bg-brand-500;
  border-radius: 50%;
  @apply flex h-4 w-4 items-center justify-center;
}

:host([variant='horizontal']) {
  @apply flex flex-row-reverse items-center;

  .unread-count {
    @apply right-4 top-auto;
  }
}
