@import '../../styles/reset.css';
@import '../../styles/scrollbar.css';

:host {
  @apply flex flex-col;
}

.chat-scope-selector {
  @apply bg-background-600 relative;
  @apply z-10;

  button {
    @apply w-full border-none p-4;
    @apply flex items-center justify-between;
    @apply bg-background-800 text-text-1000;
    @apply text-text-md;
    @apply cursor-pointer;
    @apply h-12;

    span {
      @apply flex items-center justify-start;
    }
    dyte-icon {
      @apply h-5 w-5;
    }
  }

  .search {
    @apply bg-background-700 sticky box-border flex items-center rounded-sm;
    @apply mx-3 mt-3 mb-0;

    dyte-icon {
      @apply text-text-600 mx-2 h-5 w-5;
    }

    input {
      @apply box-border h-9 w-full pr-2;
      @apply bg-background-700 text-text-1000 border-none outline-none;
      @apply text-text-md placeholder:text-text-800 rounded-sm;
    }
  }

  .participants-container {
    @apply bg-background-800 absolute w-full;
    @apply top-12;
    animation: 0.3s slide-down ease;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0%);
    }
  }

  .scope-list {
    @apply my-0 list-none px-0;
    @apply overflow-auto;
    max-height: 375px;

    .scope {
      @apply relative flex flex-row items-center px-3 py-4;
    }

    .scope:hover {
      @apply bg-background-900 cursor-pointer;
    }

    .scope-special {
      @apply text-brand mt-4;
    }

    .everyone-icon > dyte-icon {
      @apply text-text-on-brand h-6 w-6;
    }
    .everyone-icon {
      @apply flex h-full w-full items-center justify-center;
      @apply mr-2 h-8 w-8 rounded-full;
      @apply text-text-sm bg-brand-500;
    }
  }
}
.unread-count.selector {
  position: unset;
  @apply ml-2;
}
.unread-count {
  @apply absolute right-3 box-border p-0.5;
  @apply select-none;

  @apply text-text-sm bg-brand-500 text-text-on-brand-1000;
  @apply min-w-5 flex h-5 items-center justify-center;
  @apply rounded-full;
  z-index: 1;
}

dyte-avatar {
  @apply h-8 w-8;
}
