@import '../../styles/scrollbar.css';

:host {
  @apply flex;
}
.container {
  @apply flex h-full w-96 flex-col;
  @apply absolute -translate-x-96;
  @apply bg-background-900;
  @apply border-r-sm border-r-background-800 border-l-none border-y-none border-solid;
  @apply transition;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay-container {
  @apply w-screen;
  @apply translate-x-96;
  @apply bg-background-600;
  @apply transition;
  animation: fade 0.8s;

  .sidebar-btn {
    @apply static p-4;
    @apply bg-background-600;
  }
}

.sidebar-btn {
  @apply absolute -right-9 top-4 h-8 w-7;
  @apply bg-background-900;
  @apply rounded-sm;
}

@media (orientation: landscape) and (min-width: 400px) {
  .container {
    @apply static;
    @apply translate-x-0;
  }
  .sidebar-btn,
  .overlay-container {
    @apply hidden;
  }
}

.search-wrapper {
  @apply flex items-center gap-2 p-2;
  @apply border-b-sm border-b-background-800 border-t-none border-x-none border-solid;
}

.search {
  @apply sticky box-border flex items-center rounded-sm;
  @apply my-0 h-8 w-full;

  .search-icon {
    @apply h-5 w-5 p-2;
    @apply text-text-600 bg-background-700;
    @apply rounded-r-sm;
  }

  input {
    @apply box-border w-full py-2 pl-2;
    @apply text-text-1000 bg-background-700;
    @apply border-none outline-none;
    @apply text-text-md placeholder:text-text-800 leading-5;
    @apply rounded-l-sm;
  }
}

.channel-container {
  @apply box-border flex flex-col py-2;
  overflow-y: scroll;

  .channel {
    @apply flex items-center justify-between gap-2;
    @apply p-0;
    @apply border-background-700 border-b-sm border-x-none border-t-none border-solid;
    @apply hover:bg-brand-300 hover:text-text-on-brand-900 hover:cursor-pointer;

    &:hover {
      .latest-msg-time,
      .latest-msg,
      .latest-msg.new {
        @apply text-text-on-brand-700;
      }
    }
  }

  .channel-display {
    @apply flex gap-2 self-center pl-2 pr-0;

    dyte-avatar {
      @apply text-text-sm h-9 w-9 flex-shrink-0;
    }

    dyte-icon {
      @apply h-5 w-5 flex-shrink-0 p-2;
      @apply bg-brand text-text-on-brand rounded-full;
    }
  }

  .channel-card {
    @apply w-full py-2 pr-2 pl-1;

    .channel-name {
      @apply max-w-60 truncate;
      @apply text-text-md font-medium;
    }

    .latest-msg {
      @apply m-0;
      @apply max-w-56 truncate;
      @apply text-text-md;

      &.new {
        @apply text-text-700 font-extralight italic;
      }
    }

    .latest-msg-time {
      @apply text-text-sm text-text-900;
    }
  }

  /* .channel-card[is-direct-message] {
    @apply pl-1;
  } */

  .channel-meta {
    @apply w-12;
    @apply flex flex-col items-end justify-between gap-1.5;
    @apply text-text-sm font-semibold;
  }

  .new-msgs-count {
    @apply min-w-4 h-4 py-[1px] px-[2px];
    @apply bg-success text-text-on-brand-1000;
    @apply text-text-sm rounded-sm text-center;
  }

  .selected {
    @apply bg-brand-300 text-text-on-brand-900;
    .latest-msg-time,
    .latest-msg,
    .latest-msg.new {
      @apply text-text-on-brand-700;
    }
  }
  .highlight {
    .channel-title span {
      @apply font-bold;
    }
  }
}

.latest-msg p {
  @apply m-0 mr-1;
  @apply inline-block;
}

.latest-msg blockquote {
  @apply hidden;
}

.recent-message-row {
  @apply mb-2 flex w-full flex-row justify-between;
}
