@import '../../styles/reset.css';

:host {
  --icon-size: var(--dyte-button-icon-size, theme('spacing.5'));
  --transition-property: var(--dyte-transition-property, all);
  --transition-duration: 100ms;

  @apply inline-flex h-8;
  @apply cursor-pointer;
  @apply text-text-1000 bg-brand;

  @apply text-button-md;
  @apply select-none rounded-sm;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

button {
  @apply box-border;
  @apply bg-transparent text-inherit;
  border: theme('borderWidth.sm') solid theme('colors.transparent');

  @apply px-2;

  @apply inline-flex flex-grow justify-center align-baseline;
  @apply gap-1;

  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);

  outline: none;
  height: inherit;
  border-radius: inherit;
  fill: inherit;
  cursor: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.start,
.content,
.end {
  @apply self-center;
}

::slotted(dyte-icon),
::slotted(dyte-spinner) {
  height: var(--icon-size);
  width: var(--icon-size);
}

:host([variant='primary']) {
  @apply text-text-on-brand-1000;
}

:host(:hover) {
  @apply bg-brand-600;
}

button:focus-visible {
  border-color: theme('colors.text.1000');
}

:host(:active) {
  @apply bg-brand-700;
}

:host([disabled]:not([disabled='false'])) {
  @apply cursor-not-allowed opacity-60;
}

:host([variant='secondary']) {
  @apply bg-background-600;
}

:host([variant='secondary']:hover) {
  @apply bg-background-800;
}

:host([variant='secondary']:active) {
  @apply bg-background-900;
}

:host([variant='danger']) {
  @apply bg-danger;
}

:host([variant='danger']:hover) {
  @apply bg-danger/70;
}

:host([variant='danger']:active) {
  @apply bg-danger;
}

:host([variant='ghost']) {
  @apply bg-transparent text-inherit;
}

:host([variant='ghost'].active) {
  @apply text-brand-300;
}

:host([variant='ghost']:hover) {
  @apply bg-background-600;
}

:host([variant='ghost']:active) {
  @apply bg-background-700;
}

/* Button kinds */

:host([kind='icon']) {
  --icon-size: theme('spacing.5');
  @apply w-8;
}

:host([kind='icon']) button {
  @apply px-0;
}

:host([kind='wide']) {
  @apply w-full;
}

/* Sizes */

:host([size='lg']) {
  --icon-size: theme('spacing.5');
  @apply text-button-lg h-10;
}

:host([size='lg'][kind='icon']) {
  --icon-size: theme('spacing.6');
  @apply h-10 w-10;
}

:host([size='sm']) {
  --icon-size: theme('spacing.4');
  @apply text-button-sm h-6;
}

:host([size='sm'][kind='icon']) {
  @apply h-6 w-6;
}
