@import '../../styles/scrollbar.css';

:host {
  @apply flex flex-col;
  @apply bg-background-900 w-full;
  @apply relative;
  @apply z-10 h-12;
  min-height: 48px;
}

.dropdown-trigger {
  @apply h-full w-full border-none p-4;
  @apply flex items-center justify-between;
  @apply bg-background-700 text-text-1000 text-text-md;
  @apply cursor-pointer;
  @apply absolute z-20;

  span {
    @apply flex flex-1 items-center justify-between;
  }

  dyte-icon {
    @apply ml-1 h-5 w-5 shrink-0;
  }
}

@container chatcontainer (height < 360px) {
  .dropdown-trigger {
    @apply p-2;
  }
  .dropdown {
    @apply !top-8;
  }
  .search-container {
    @apply !px-0 !py-0;
  }
  input {
    @apply !h-8 !rounded-none;
  }
  .channel {
    @apply !h-8 !rounded-sm;
  }
  .avatar-icon {
    @apply !h-3 !w-3 !p-1;
  }

  dyte-avatar {
    @apply !h-5 !w-5;
  }
}

.dropdown {
  @apply absolute;
  @apply bg-background-900 w-full;
  @apply top-12 z-10;
  animation: 0.3s slide-down ease;

  .channels-container {
    @apply max-h-80;
  }
}

.list {
  @apply flex flex-col;
  .channel {
    .channel-data {
      @apply items-start;
    }
  }
}

.unread-count {
  @apply flex justify-center;
  @apply min-w-3 h-5 rounded-full px-1;
  @apply text-text-sm leading-5;
  @apply bg-brand-500 text-text-on-brand-1000;
}

input {
  @apply h-9 w-full px-3;
  @apply box-border border-none outline-none;
  @apply rounded-sm;
  @apply bg-background-600 text-text;
}

.search-container {
  @apply flex shrink-0 grow-0 basis-auto items-center py-3 px-2;
  border-bottom: theme(borderWidth.sm) solid theme(colors.background.700);
}

.search-container dyte-icon {
  @apply -ml-8 h-5 w-5;
  @apply text-text-800;
}

.channels-container {
  @apply flex flex-col gap-1 p-2;
  @apply flex-auto overflow-y-auto;
}

.channel {
  @apply flex flex-shrink-0;
  @apply box-border border-none bg-transparent outline-none;
  @apply cursor-pointer rounded-md;

  @apply flex items-center justify-between gap-2;
  @apply h-16 w-full pl-2 pr-3;

  @apply text-text transition-colors;

  &:hover {
    @apply bg-background-600;
  }

  .channel-data {
    @apply flex-1 items-center justify-between;
    @apply flex gap-2;
  }

  .name {
    @apply text-text-lg;
  }

  .name,
  .last-message {
    @apply line-clamp-1 max-w-40 text-left;
  }

  .no-message {
    @apply italic;
  }

  dyte-avatar {
    @apply h-12 w-12 overflow-clip rounded-full;
    @apply text-text-md;
  }
  .avatar-icon {
    @apply text-text-on-brand h-6 w-6 p-3;
    @apply bg-brand overflow-clip rounded-full;
  }

  time,
  .last-message {
    @apply text-text-sm text-text-800;
  }

  &.active {
    @apply bg-brand-300 text-text-on-brand;

    .unread-count {
      @apply bg-text-on-brand-800 text-brand;
    }

    time {
      @apply text-text-on-brand-800;
    }

    .last-message {
      @apply text-text-on-brand-700;
    }

    dyte-avatar {
      @apply text-text-on-brand-1000 bg-brand;
    }
  }
}

.col {
  @apply gap-1;
  @apply flex flex-col;
}

.channel-meta {
  @apply flex-shrink-0 items-end;
}

@keyframes slide-down {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0%);
  }
}
