@import '../../styles/reset.css';

:host {
  @apply h-full w-full;
  @apply relative flex flex-col items-center justify-center;
  @apply overflow-hidden rounded-lg;
  @apply bg-video-bg;
  container-type: inline-size;
  container-name: screentile;
}

::slotted(dyte-name-tag) {
  @apply absolute left-3 bottom-3 opacity-80;
}

#video-container {
  @apply absolute block h-full w-full;
  .fit-in-container {
    @apply object-fill;
  }
}

video {
  @apply h-full w-full object-contain;
}

:host([variant='gradient']) {
  ::slotted(dyte-audio-visualizer) {
    @apply absolute top-2 right-2;
    @apply bg-brand rounded-full p-2;
  }
  ::slotted(dyte-name-tag) {
    @apply bottom-0 left-0 flex w-full items-center justify-center text-center;
    @apply bg-transparent;
    @apply from-background-1000 bg-gradient-to-t to-transparent;
  }
}

:host([size='sm'][variant='gradient']) {
  ::slotted(dyte-audio-visualizer) {
    @apply h-5 w-5;
  }
}

video.visible {
  animation: video-fadein 0.4s ease;
}

#controls {
  @apply hidden;
  @apply absolute top-3 right-3;
  @apply items-center justify-end gap-2;
}

:host(:hover) #controls,
:host(:active) #controls,
:host(:focus-visible) #controls {
  @apply flex;
}

#full-screen-btn {
  @apply bg-background-700;
}

/** For self view */

h3 {
  @apply mt-10 mb-6;
  @apply text-heading-sm text-center font-medium;
  @apply size-sm:text-text-lg;
}

#self-message {
  @apply px-4;
}

:host(.isSelf) #self-view {
  @apply flex-1;
}

:host(.isSelf) #video-container {
  @apply max-w-96 static aspect-auto h-auto w-1/2;
  @apply rounded-md;
  transition: 0.6s ease;
}

:host(.isSelf) #video-container.expand {
  @apply w-3/5 max-w-full;
}

.actions {
  @apply flex items-center justify-center gap-2;
}

:host([size='sm'].isSelf) #video-container,
:host([size='md'].isSelf) #video-container,
:host([size='sm'].isSelf) #expand-btn,
:host([size='md'].isSelf) #expand-btn {
  /** Hide video, fullscreen buttons in sm and md breakpoints */
  @apply hidden;
}

/** Remote control */

p {
  @apply m-0 p-0;
}

.remote-control {
  @apply z-10 h-full max-h-full flex-initial;
}

#remote-control-self {
  @apply absolute top-0 left-1/2 z-10 w-max max-w-full;
  @apply box-border flex h-8 items-center;
  @apply text-text-1000 bg-warning text-text-sm overflow-hidden rounded-sm;
  transform: translateX(-50%);

  p {
    @apply px-3 py-2;
  }

  dyte-button {
    @apply text-text-sm bg-danger h-full rounded-none;
  }
}

:host([size='sm']) {
  #remote-control-self {
    @apply h-auto flex-col;
    dyte-button {
      @apply w-full py-1;
    }
  }
}

/** Name tag positions */

:host([name-tag-position='bottom-right']) {
  ::slotted(dyte-name-tag) {
    @apply left-auto right-3;
  }
}

:host([name-tag-position='bottom-center']) {
  ::slotted(dyte-name-tag) {
    @apply left-auto right-auto;
  }
}

:host([name-tag-position='top-left']) {
  ::slotted(dyte-name-tag) {
    @apply top-3 bottom-auto;
  }
}

:host([name-tag-position='top-right']) {
  ::slotted(dyte-name-tag) {
    @apply top-3 right-3 left-auto bottom-auto;
  }
}

:host([name-tag-position='top-center']) {
  ::slotted(dyte-name-tag) {
    @apply left-auto right-auto bottom-auto top-3;
  }
}

/** Keyframes */

@keyframes video-fadein {
  0% {
    opacity: 0;
    transform: scale(1.4) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

::slotted(dyte-network-indicator) {
  @apply absolute right-3 bottom-3;
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
  :host([size='sm'][variant='solid']) {
    ::slotted(dyte-name-tag),
    dyte-name-tag {
      @apply left-0 bottom-0 rounded-none;
      transform-origin: 0% 110%;
      transform: scale(0.6);
    }
  }
}

@container screentile (max-width: 400px) {
  ::slotted(dyte-name-tag) {
    transform-origin: 0 130%;
    transform: scale(0.7);
  }
}
