@import '../../styles/reset.css';

:host {
  @apply mx-2 block;
}

:host[size='sm'] {
  @apply mx-1;
}

.indicator {
  @apply flex flex-row items-center;
  @apply text-danger text-text-md;
}

dyte-icon {
  @apply mr-1 h-5 w-5;
  animation: blink 4s linear infinite;
}

:host([size='sm']) dyte-icon {
  @apply h-4 w-4;
}

:host([size='sm']) .indicator span {
  display: none;
}

@keyframes blink {
  0%,
  10% {
    opacity: 0;
  }
  11%,
  100% {
    opacity: 1;
  }
}
