@import '../../styles/reset.css';

:host {
  @apply bg-background-900 mx-2 flex h-full max-h-full min-h-full w-full min-w-full max-w-full rounded-md;
}

.player-container {
  @apply relative m-4 flex grow items-center justify-center rounded-md;
}

.player {
  @apply bg-background-1000 rounded-md left-0 h-full w-auto aspect-video z-20 border-[0px];;
}

.loader {
  @apply bg-background-900 absolute z-10 h-full w-full;
  @apply flex flex-col items-center justify-center;
}

p {
  @apply text-text-700 text-text-lg my-1;
}

.latency-controls {
  @apply absolute bottom-4 right-4 z-20 flex flex-row items-center;
}

.sync-live-stream {
  @apply text-text-sm bg-brand-500 cursor-pointer rounded-sm px-2 py-1;
}

.unmute-popup {
  @apply bg-background-800 absolute !z-30 flex w-72 flex-col rounded-md p-4 text-center;
  max-width: 70%;
  h3 {
    @apply text-text-lg m-0 font-medium;
  }
  p {
    @apply text-text-md my-3;
  }
}

.control-bar {
  position: absolute;
  bottom: 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  z-index: 10; /* Ensures the control bar is above the video */
}

.control-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.control-btn:hover {
  opacity: 0.8;
}

.control-btn:focus {
  outline: none;
}

.progress-bar {
  width: 60%;
  cursor: pointer;
  appearance: none;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-bar {
  height: 5px; 
  cursor: pointer;
  appearance: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-left: 10px;
}

.volume-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}


.level-select {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.level-select:focus {
  outline: none;
}

.level-select option {
  background-color: #000;
}

.volume-control-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}