@import '../../styles/reset.css';

:host {
  @apply bg-background-900 flex h-full max-h-full min-h-full w-full min-w-full max-w-full rounded-md;
}

.player-container {
  @apply relative m-4 flex grow items-center justify-center rounded-md;
}

.loader {
  @apply bg-background-900 absolute z-10 h-full w-full;
  @apply flex flex-col items-center justify-center;
}

p {
  @apply text-text-700 text-text-lg my-1;
}


.unmute-popup {
  @apply bg-background-800 absolute !z-30 flex w-72 flex-col rounded-md p-4 text-center;
  max-width: 70%;
  h3 {
    @apply text-text-lg m-0 font-medium;
  }
  p {
    @apply text-text-md my-3;
  }
}

.control-bar {
  position: absolute;
  bottom: 0;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
  z-index: 10; /* Ensures the control bar is above the video */
}

.timings {
  @apply text-text-on-brand;
}

.control-btn {
  border: none;
  @apply bg-brand-500 text-text-on-brand rounded-sm mr-2;
  cursor: pointer;
  font-size: 24px;
  height: 30px;
  width: 30px;
}

.fullscreen-btn {
  margin-right: 20px;
  height: 30px;
}

.control-btn:hover {
  opacity: 0.8;
}

.control-btn:focus {
  outline: none;
}


.control-groups{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#livestream-video {
  aspect-ratio: 16/9;
  max-width: 100%;
  min-width: 100%;
  @apply rounded-md left-0 w-auto aspect-video z-20 border-[0px];;
}


.level-select {
  @apply bg-brand-500 text-text-on-brand rounded-sm;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.level-select:focus {
  outline: none;
}

.level-select option {
  @apply bg-brand-500 text-text-on-brand rounded-sm;
}

.volume-control-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}