@import '../../styles/reset.css';

:host {
  @apply block w-fit;
}

.hideMuted {
  @apply p-1;
}

canvas,
dyte-icon {
  @apply h-6 w-6;
}

:host([size='sm']) {
  transform: scale(0.9);
}

canvas {
  display: none;
}

canvas.visible {
  display: block;
}

canvas.bars {
  @apply text-brand-500;
}
