@import '../../styles/reset.css';

:host {
  @apply relative flex items-center justify-center;
  @apply aspect-video h-56 overflow-hidden rounded-lg;
  @apply bg-video-bg select-none;

  transition-property: var(--dyte-transition-property, all);
  transition-duration: 150ms;
  container-type: inline-size;
  container-name: participanttile;
}

@media (prefers-reduced-motion) {
  /* No transitions when disabled */
  :host {
    --dyte-transition-property: none;
  }
}

dyte-avatar {
  z-index: -1;
}

/**
  NOTE: provided :slotted(dyte-name-tag) & dyte-name-tag separately
  because ::slotted isn't applied on default slots.
*/

::slotted(dyte-name-tag),
dyte-name-tag {
  @apply absolute left-3 bottom-3;
}

:host([size='sm'][variant='solid']) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply left-2 bottom-2 h-4;
  }
}

::slotted(dyte-network-indicator),
dyte-network-indicator {
  @apply absolute right-3 bottom-3;
}

:host([size='sm']) {
  ::slotted(dyte-network-indicator),
  dyte-network-indicator {
    @apply right-2 bottom-2;
  }
}

video {
  @apply absolute h-full w-full rounded-lg;
}

video.contain {
  @apply object-contain;
}

video.cover {
  @apply object-cover;
}

video::-webkit-media-controls {
  display: none !important;
}

.pinned-icon {
  @apply absolute left-3 top-3 h-5 w-5 p-1;
  @apply bg-background-700 rounded-md;
}

.network-container {
  @apply text-text-sm absolute right-3 bottom-3 flex flex-row items-center p-2;
  @apply bg-background-700 rounded-md;
}
.network-icon {
  @apply text-danger h-5 w-5;
}

:host([size='sm']) .pinned-icon {
  @apply top-2 left-2;
}

:host([variant='gradient']) {
  ::slotted(dyte-audio-visualizer),
  dyte-audio-visualizer {
    @apply absolute top-2 right-2;
    @apply bg-brand rounded-full p-2;
  }
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply bottom-0 left-0 flex w-full items-center justify-center text-center;
    @apply bg-transparent;
    @apply from-background-1000 bg-gradient-to-t to-transparent;
  }
}

video.mirror {
  transform: scaleX(-1);
}

/** Name tag positions */

:host([name-tag-position='bottom-right']) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply left-auto right-3;
  }
}

:host([name-tag-position='bottom-center']) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply left-auto right-auto;
  }
}

:host([name-tag-position='top-left']) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply top-3 bottom-auto;
  }
}

:host([name-tag-position='top-right']) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply top-3 right-3 left-auto bottom-auto;
  }
}

:host([name-tag-position='top-center']) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    @apply left-auto right-auto bottom-auto top-3;
  }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
  :host([size='sm']) {
    @apply rounded-sm;
  }

  :host([size='sm']) > video {
    @apply rounded-sm;
  }

  ::slotted(dyte-avatar),
  dyte-avatar {
    transform: scale(0.6);
    @apply min-w-14;
    z-index: -1;
  }

  :host([size='sm'][variant='solid']) {
    ::slotted(dyte-name-tag),
    dyte-name-tag {
      transform-origin: -2% 100%;
      transform: scale(0.6);
      z-index: 10;
      @apply left-0 bottom-0 rounded-none;
    }
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  :host([size='sm']) {
    @apply rounded-sm;
  }

  :host([size='sm']) > video {
    @apply rounded-sm;
  }

  ::slotted(dyte-avatar),
  dyte-avatar {
    transform: scale(0.6);
    @apply min-w-14;
    z-index: -1;
  }

  :host([size='sm'][variant='solid']) {
    ::slotted(dyte-name-tag),
    dyte-name-tag {
      transform-origin: -5% 110%;
      transform: scale(0.6);
      z-index: 10;
      @apply left-0 bottom-0 rounded-none;
    }
  }
}

@container participanttile (max-width: 300px) {
  ::slotted(dyte-name-tag),
  dyte-name-tag {
    transform-origin: 0 100%;
    transform: scale(0.8);
  }

  ::slotted(dyte-avatar),
  dyte-avatar {
    transform: scale(0.8);
    z-index: -1;
  }
}

@container participanttile (max-width: 150px) {
  ::slotted(dyte-name-tag),
  dyte-name-tag[variant='solid'] {
    transform-origin: -10% 130%;
    transform: scale(0.6);
    z-index: 10;
    @apply rounded-full;
  }

  ::slotted(dyte-avatar),
  dyte-avatar {
    transform: scale(0.6);
    z-index: -1;
  }
}
