.dyte-select {
  @apply bg-background-700 text-text-1000;
  @apply focus:ring-0;
  @apply block rounded-sm border-none;
  @apply text-text-lg appearance-none p-3;

  --icon-size: var(--dyte-select-chevron-size, theme('spacing.6'));
  --icon-right-position: var(--dyte-select-chevron-right-position, theme('spacing.2'));

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right var(--icon-right-position) center;
  background-repeat: no-repeat;
  background-size: var(--icon-size) var(--icon-size);
  padding-right: calc(var(--icon-right-position) * 5);
}
