@import '../../styles/reset.css';

:host {
  @apply relative flex flex-col overflow-hidden rounded-md p-8;
  @apply w-full;
  @apply text-text-1000 bg-background-1000;
  width: 400px;
  max-width: 80%;
}

.leave-modal {
  @apply w-full;
  @apply text-text-1000;
}

.leave-modal .header h2 {
  @apply m-0;
}

.leave-modal .content {
  @apply text-text-md;
}

.leave-message p {
  @apply my-3;
}

.leave-meeting {
  @apply flex flex-row justify-between gap-4;
}

.leave-meeting dyte-button {
  @apply text-text-1000;
  @apply flex-1;
}

.end-meeting {
  @apply mt-2;
}

.br-secondary-btn {
  @apply bg-background-800;
  &:hover {
    @apply bg-background-600;
  }
}
