@import '../../styles/reset.css';

:host {
  @apply relative flex h-14 items-center justify-between;
  @apply text-text-1000 cursor-pointer;

  dyte-avatar {
    @apply text-text-md h-8 w-8;
  }
}

.left {
  @apply flex items-center;

  & > * {
    @apply mr-2 last:mr-0;
  }
}

.right {
  @apply flex items-center justify-end;

  & > * {
    @apply ml-2 first:ml-0;
  }
}

.name {
  @apply line-clamp-1;
}

dyte-icon {
  @apply h-6 w-6;
}

dyte-icon.red {
  @apply text-danger;
}

dyte-icon.more {
  @apply cursor-pointer;
}

.menu {
  @apply relative inline-block;
  @apply text-text-1000;
}

#menu-list {
  @apply absolute z-20;
}
