@import '../../styles/reset.css';

/**
 * NOTE(vaibhavshn):
 * The code for visibility and display below are set after careful consideration
 * as the .hydrated class overrides the visibility properly.
 * Thus the background overlay would be visible, even in closed state
 */

:host {
  @apply fixed inset-0 box-border p-4;
  @apply flex-col items-center justify-center;
  @apply bg-background-600/50 text-text-1000;
  /* Hide dialog by default */
  @apply invisible hidden;

  @apply break-words;
  word-wrap: break-word;

  z-index: 60;

  backdrop-filter: blur(12px) saturate(180%);
}

#dialog {
  @apply relative max-h-full max-w-full;
}

#dismiss-btn {
  @apply absolute top-3 right-3 z-50;
}

::slotted(*) {
  @apply max-h-full max-w-full;
}

/* Show only when open="true" */
:host([open]) {
  @apply visible flex;
}

/* Hide dialog by default */
:host([open='false']) {
  @apply invisible hidden;
}
