@import '../../styles/reset.css';

:host {
  --background-color: var(--dyte-tooltip-background-color, theme('colors.background.600'));
  --color: var(--dyte-tooltip-color, theme('colors.text.1000'));
  @apply inline-flex;
}

#trigger {
  @apply block w-full flex-1;
}

.tooltip {
  @apply max-w-64;
  @apply fixed z-20 hidden w-max px-2 py-1;
  @apply rounded-sm shadow-sm;
  @apply text-text-sm;
}

.tooltip,
#arrow {
  @apply absolute;
  background-color: var(--background-color);
  color: var(--color);
}

#arrow {
  @apply absolute h-2 w-2;
  transform: rotate(45deg);
}

:host([variant='primary']) {
  --background-color: theme('colors.brand.500');
  --color: theme('colors.text-on-brand.1000');
}

:host([kind='block']) {
  /* Wide kind so that tooltips inline-block doesn't affect it's trigger's width */
  @apply block;
}
