@import '../../styles/reset.css';

:host {
  @apply text-text-lg mx-2 flex select-none items-center;
}

:host([size='sm']) {
  @apply text-text-sm mx-1;

  .center {
    @apply mx-0;
  }

  dyte-button {
    @apply h-7 w-7;

    dyte-icon {
      @apply h-4 w-4;
    }
  }
}

dyte-button {
  @apply shadow-none;
}

.center {
  @apply text-text-700 mx-2;

  .page {
    @apply text-text-900;
  }

  .slash {
    @apply mx-0.5;
  }

  .pages {
    @apply text-text-sm self-end;
  }
}

:host([variant='rounded']) {
  @apply bg-background-800 overflow-hidden rounded-full;

  dyte-button {
    @apply rounded-full border-none bg-transparent;
    @apply text-text-700 transition-colors;
  }

  dyte-button:not([disabled]) {
    @apply hover:bg-background-600 focus:bg-background-600;
  }
}

:host([variant='grid']) {
  @apply mx-0;

  dyte-button {
    @apply absolute top-1/2 h-20 w-20;
    @apply opacity-20 transition hover:opacity-100;
    transform: translateY(-50%);
  }
  dyte-button.prev {
    @apply left-0 rounded-r-full;
  }
  dyte-button.next {
    @apply right-0 rounded-l-full;
  }
  dyte-button.auto {
    @apply left-0 right-0 rounded-r-full;
  }

  .dots {
    @apply absolute left-1/2 bottom-3 flex items-center;
    transform: translateX(-50%);

    .dot {
      @apply bg-background-700 mr-2 h-2 w-2 cursor-pointer rounded-full last:mr-0;
    }

    .dot.active {
      @apply bg-brand-500;
    }
  }
}

:host([variant='grid'][size='sm']) {
  dyte-button {
    @apply h-14 w-14 opacity-10;
  }
}
