:host {
  @apply flex flex-col;
  @apply text-text-md font-sans;
  @apply relative;
}

.quoted-message-container {
  @apply mb-2 flex justify-between;
  @apply bg-background-800 text-text-1000;
  @apply rounded-md;
  border: theme('borderWidth.sm') solid theme('colors.background.600');

  .quoted-message {
    @apply flex-1 p-2;
    @apply rounded-md;
    @apply max-h-24;
    @apply overflow-y-auto;
    @apply break-all;

    blockquote {
      @apply hidden;
    }
  }

  dyte-icon.dismiss {
    @apply ml-auto h-5 w-5 p-2;
    @apply text-text-600 hover:text-text-1000 rounded-md hover:cursor-pointer;
    @apply transition-colors;
  }
}

.composer-container {
  @apply relative;
  @apply bg-background-800;
  @apply rounded-md;
  @apply overflow-hidden;
  border: theme('borderWidth.sm') solid theme('colors.background.600');

  > .composers {
    min-height: 60px;
  }
}

@container chatcontainer (height < 360px) {
  .composer-container {
    > .composers {
      min-height: 30px;
    }
  }
}

.chat-buttons {
  @apply p-3;
  @apply flex items-center justify-between;
  @apply bg-background-800 text-text-1000;

  .right {
    @apply z-10;
    .edit-buttons {
      @apply flex gap-2;
    }
  }

  & > div {
    @apply flex items-center;
  }
}

dyte-emoji-picker {
  @apply z-20;
  @apply absolute -top-72;
  border-top: theme('borderWidth.sm') solid theme('colors.background.600');
  animation: 0.3s slide-up ease;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
