@import '../../styles/reset.css';

:host {
  @apply block h-10;
  @apply outline-none;

  .icon-wrapper {
    @apply flex h-full w-full flex-col items-center;
  }

  svg {
    @apply h-full w-full outline-none;
  }
}

/* Sizes */

:host([size='xl']) {
  @apply box-border block !h-16 !w-16;
  --dyte-spinner-color: theme('colors.current');
}

:host([size='md']) {
  @apply box-border block !h-6 !w-6;
  --dyte-spinner-color: theme('colors.current');
}

:host([size='sm']) {
  @apply box-border block !h-4 !w-4;
  --dyte-spinner-color: theme('colors.current');
}

:host([variant='secondary']) {
  .icon-wrapper {
    @apply text-background-600;
  }
}

:host([variant='danger']) {
  .icon-wrapper {
    @apply text-danger;
  }
}
